<md-toolbar class="md-toolbar-home md-whiteframe-glow-z1">
  <div class="md-toolbar-tools">
    <span flex></span>
    <i class="material-icons md-24" style="color: grey">color_lens</i>
    </span> {{ 'toolbar.html.appname' | translate}}
    <span flex></span>

    <md-button class="toolbar-button" ui-sref="home" aria-label="go home">
      <i class="fa fa-home" aria-hidden="true"></i>
    </md-button>
    <md-button class="toolbar-button" ui-sref="admin" aria-label="go admin">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </md-button>
    <md-button ng-show="toolbar.isAuthenticated()" class="toolbar-button" ng-click="toolbar.logout()" aria-label="logout">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    </md-button>
  </div>
</md-toolbar>