svg {
    .current-color-label {
        font-size: 0.8em;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: .1em;
        color: #555;
        text-anchor: start;
        margin-top: 1em;
    }
}
