<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <base href="/">
</head>

<body>
    <app>
        <div class="logo">Loading... &#x2665;</div>
    </app>

    

    <!--<script>
        // Initialize Firebase
        var config = {
            apiKey: "<%= htmlWebpackPlugin.options.FRB_API_KEY %>",
            authDomain: "<%= htmlWebpackPlugin.options.FRB_AUTHDOMAIN %>",
            databaseURL: "<%= htmlWebpackPlugin.options.FRB_DATABASEURL %>",
            storageBucket: "<%= htmlWebpackPlugin.options.FRB_STORAGEBUCKET %>",
            messagingSenderId: "<%= htmlWebpackPlugin.options.FRB_MESSAGINGSENDERID %>",
        };
        firebase.initializeApp(config);
    </script>-->
</body>

</html>